* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    display: flex;
    height: 100vh;
    justify-content: center;
    background-color: rgb(112, 148, 83);
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: black;
}

.card-content {
    display: flex;
    text-align: center;
    flex-direction: column;
    border-radius: 0.5rem;
    overflow: hidden;
}

.wrapper {
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1.5rem;
    text-decoration: none;
}

.warpper-student a .card-content .warpper-icon {
    background: #f79797;
}

.warpper-student a .card-content .warpper-icon:hover {
    background: var(#f797979f);
}

.warpper-school a .card-content .warpper-icon {
    background: #9effae;
}

.warpper-school a .card-content .warpper-icon:hover {
    background: var(#9effae8f);
}

.warpper-org a .card-content .warpper-icon {
    background: #95ffed;
}

.card-content .card-header {
    background: #a3a3a3;
}

.card-content .card-header p {
    font-size: 1.25rem;
    line-height: 1.2;
}

.img {
    width: 50%;
    height: auto;
}


/*Mobile Orientations*/
@media screen and (max-width: 767px) and (orientation: landscape) {}


/*Tablet Orientations*/
@media screen and (max-width: 991px) and (orientation: landscape) {}