* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

body {
    height: 100vh;

    display: flex;
    justify-content: center;

    background-color: grey;
    background-size: cover;
    background-position: center;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
    color: black;
    font-size: 1rem;
}

a:hover {
    color: black;
}

.card-content {
    text-align: center;
    border-radius: 0.5rem;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.wrapper {
    justify-content: center;
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    text-decoration: none;
}

.warpper-student a .card-content .warpper-icon {
    --bg-color: #f79797;
    background: var(--bg-color);
}

.warpper-guardian a .card-content .warpper-icon {
    --bg-color: #eeff8e;
    background: var(--bg-color);
}

.warpper-school a .card-content .warpper-icon {
    --bg-color: #9effae;
    background: var(--bg-color);
}

.warpper-org a .card-content .warpper-icon {
    --bg-color: #95ffed;
    background: var(--bg-color);
}

.card-header {
    --bg-color: #a3a3a3;
    background: var(--bg-color);
}

.card-header p {
    font-size: 1.25rem;
    line-height: 1.2;
}

.warpper-student a .card-content .warpper-icon:hover {
    --bg-color: #f797979f;
    background: var(--bg-color);
}

.warpper-guardian a .card-content .warpper-icon:hover {
    --bg-color: #eeff8e94;
    background: var(--bg-color);
}

.warpper-school a .card-content .warpper-icon:hover {
    --bg-color: #9effae8f;
    background: var(--bg-color);
}

.warpper-org a .card-content .warpper-icon:hover {
    --bg-color: #95ffed83;
    background: var(--bg-color);
}

a .card-content .warpper-icon .ff {
    width: 50%;
    height: auto;
}


/*Mobile Orientations*/
@media screen and (max-width: 767px) and (orientation: landscape) {}


/*Tablet Orientations*/
@media screen and (max-width: 991px) and (orientation: landscape) {}