.popup-container .container {
    direction: rtl;
    position: fixed;
    top: 10%;
    right: 25%;
    max-width: 900px;
    width: 100%;
    border-radius: 6px;
    padding: 30px;
    margin: 0 15px;
    background-color: #fff;
    border: 1px solid black;
}

.popup-container .container header {
    position: relative;
    font-size: 20px;
    font-weight: 600;
    color: #333;
}

.popup-container .container header::before {
    content: "";
    position: absolute;
    right: 4%;
    bottom: -2px;
    height: 3px;
    width: 40px;
    border-radius: 8px;
    background-color: #4070f4;
}

.popup-container .container form {
    position: relative;
    margin-top: 16px;
    min-height: 680px;
    background-color: #fff;
    overflow: hidden;
}

.popup-container .container form .title {
    display: block;
    margin-bottom: 8px;
    font-size: 16px;
    font-weight: 500;
    margin: 6px 0;
    color: #333;
}

.popup-container .container form .fields {
    display: flex;
    align-items: center;
    gap: 1.2rem;
    flex-wrap: wrap;
}

.buttons {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
}

form .fields .input-field,
form .fields .input-field-description {
    display: flex;
    width: calc(100% / 3 - 15px);
    flex-direction: column;
    margin: 4px 0;
}

form .fields .input-field-description {
    flex-direction: column;
    width: 100%;
    margin: 4px 0;
    gap: 0.5rem;
}

form .fields .input-field-description textarea {
    height: 10vh;
    padding: 5px 5px;
    outline: none;
    resize: none;
    border-radius: 5px;
}

.input-field label,
.input-field-description label {
    font-size: 14px;
    font-weight: 500;
    color: #2e2e2e;
}

.input-field input,
select,
.input-field-description input {
    outline: none;
    font-size: 14px;
    font-weight: 400;
    color: black;
    border: 1px solid #aaa;
    padding: 0 15px;
    height: 42px;
    margin: 8px 0;
}

.input-field input :focus,
.input-field select:focus {
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.13);
}


.input-field-img input[type="file"] {
    color: transparent;
}

input[type="number"] {
    outline: none;
}

p {
    padding-top: 5px;
    font-size: 12px;
}

.popup-container .container form button,
.backBtn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 45px;
    max-width: 200px;
    width: 100%;
    border: none;
    outline: none;
    color: #fff;
    border-radius: 5px;
    margin: 25px 0;
    background-color: #4070f4;
    transition: all 0.3s linear;
    cursor: pointer;
    position: absolute;
    top: 610px;
}

form button:hover {
    background-color: #265df2;
}

form button i,
form .backBtn i {
    margin: 0 6px;
}

@media (max-width: 750px) {
    .popup-container .container form {
        overflow-y: scroll;
    }

    .popup-container .container form::-webkit-scrollbar {
        display: none;
    }

    form .fields .input-field,
    .input-field-description label {
        width: calc(100% / 2 - 15px);
    }

    .popup-container .container form button,
    .backBtn {
        top: 100%;
    }
}

@media (max-width: 550px) {

    form .fields .input-field,
    .input-field-description label {
        width: 100%;
    }

    .popup-container .container form button,
    .backBtn {
        top: 100%;
    }
}